<nav class="nav" id="top">
  <a class="brand" href="{{ '/' | relative_url }}">
    <span class="mark">SC</span>
    <span><b>Sungjin Choi</b><span>Data Scientist &amp; ML Researcher</span></span>
  </a>
  <div class="links">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/#about' | relative_url }}">About</a>
    <a href="{{ '/projects/' | relative_url }}">Projects</a>
    <a href="{{ '/publications/' | relative_url }}">Publications</a>
    <a href="{{ '/cv/' | relative_url }}">CV</a>
    <a class="btn-gold" href="mailto:sungjinchoi5790@gmail.com">Let's connect &rarr;</a>
  </div>
  <button class="nav-toggle" aria-label="Menu">&#9776;</button>
</nav>
